@import "./variables.scss";

h1 {
    font-size: 26px;
    font-family: Arial, sans-serif;
}

p {
    font-size: 14px;
    margin-top: 0;
}

a {
    color: $color-dark-gray;
    text-decoration: none;
    cursor: pointer;
}

input,
select {
    &:focus {
        border-color: $color-blue;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);
    }
}

.disp-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-align--center {
    align-items: center;
}

.flex-just--center {
    justify-content: center;
}

.flex-just--sb {
    justify-content: space-between;
}

.mar-no {
    margin: 0;
}

.mar-lft--5 {
    margin-left: 5px;
}

.mar-lft--10 {
    margin-left: 10px;
}

.mar-btm--10 {
    margin-bottom: 10px;
}

.mar-ver--20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-gray {
    color: $color-gray;
}

.text-dark-gray {
    color: $color-dark-gray;
}

.text-blue {
    color: $color-blue;
}

.pos-rel {
    position: relative;
}

.page-height {
    min-height: 100vh;
    width: 100%;
}
