// -------BREAKPOINTS--------- //
$screen-md:             768px;
$screen-sm:             480px;

// -------COLORS--------- //
$color-green:           #67b26b;
$color-blue:            #0366d6;
$color-light-blue:      #4ca2cb;
$color-dark-gray:       #24292e;
$color-gray:            #586069;
$color-light-gray:      #dddddd;
$color-lightest-gray:   #eeeeee;
$color-white:           #ffffff;
