@import "../../styles/variables.scss";

.cardWrapper {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba($color-dark-gray, 0.1), 0 2px 4px -1px rgba($color-dark-gray, 0.06);
}

.cardImgWrapper {
    @media (max-width: $screen-md) {
        flex-direction: column;
    }
}

.cardImg {
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    margin-right: 10px;
    background-color: $color-light-gray;
}

.cardName {
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 14px;
}

.cardButton {
    display: block;
    border-radius: 4px;
    background: linear-gradient(to right, $color-green, $color-light-blue);
    border: none;
    color: $color-white;
    text-align: center;
    font-size: 14px;
    padding: 6px 12px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 15px 5px 5px;
}

.cardButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.cardButton span:after {
    content: '';
    position: absolute;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity: 0;
    top: 4px;
    right: -20px;
    transition: 0.5s;
}

.cardButton:hover span {
    padding-right: 25px;
}

.cardButton:hover span:after {
    opacity: 1;
    right: 0;
}

.cardInfo {
    max-width: 160px;
}

.tag {
    display: inline-block;
    padding: 6px 12px;
    white-space: nowrap;
    background-color: $color-light-gray;
    border-radius: 3px;
}

